.password{
    display: block;
    position: relative;
    padding-left: 35px;
    float: left;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*Hiding original*/
.password input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #ffffff;
}

.password:hover input ~ .checkmark{
    background: gray;
}

.password input:checked ~ .checkmark{
    background: black;
}

.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.password input:checked ~ .checkmark:after {
    display: block;
}

.password .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}