body, html {
    padding:0;
    height:100%;
    margin: 0;
    color: white;
    font-family: "Lucida Sans Typewriter", serif;
    background-color: #2b2b2b;
}

.footer{
    text-indent: 22px;
    position:fixed;
    bottom:5px;
    left:0;
}

/*lines*/
hr {
    border-top: 2px dashed gray;
}

.verticalLine {
    border-left: 6px solid #008bd6;
    height: 1225px;
}

/*dropdown menu start*/
li#menuRight {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #242424;
    min-width: 160px;
    box-shadow: 10px 10px 10px rgba(0, 139, 214, 0.5);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 5px;
}

#refresh{
    height: 68px;
    position: relative;
}


/*activity table*/
#activityTable{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}
#activityTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #008bd6;
    color: white;
}
#activityTable td, #activityTable th {
    border: 1px solid #000000;
    padding: 8px;
    text-decoration: none;
}
#activityTable tr:nth-child(even){background-color: #666666;}
#activityTable tr:nth-child(odd){background-color: #7a7a7a;}
#activityTable tr:hover {background-color: #545454;}



/*buttons*/
.browse_button{
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 20px;
}

.button {
    vertical-align: middle;
    width: 200px;
    display: inline-block;
    border: none;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
}

.button:hover {
    background-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5),0 17px 50px 0 rgba(0,0,0,0.19);
    color: white;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #008bd6; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.heroText {
    padding: 20px;
    color: white;
    border-color: black;
}

div.floating{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

div.custom-select{
    padding: 5px;
    background-color: rgba(0, 139, 214, 0.5);
    border: 2px dashed #008bd6;
}

div.counter{
    margin-top: 5px;
    padding: 5px;
    background-color: rgba(0, 139, 214, 0.5);
    border: 2px dashed #008bd6;
}

div.usage{
    margin-top: 5px;
    padding: 5px;
    background-color: rgba(0, 139, 214, 0.5);
    border: 2px dashed #008bd6;
}

div.severity{
    margin-top: 5px;
    padding: 5px;
    background-color: rgba(0, 139, 214, 0.5);
    border: 2px dashed #008bd6;
}

div.activity{
    font-family: "Century Gothic", serif;
    margin-top: 5px;
    padding: 5px;
    background-color: rgba(0, 139, 214, 0.5);
    border: 2px dashed #008bd6;
}



/*select*/
select {
    position: relative;
    width: 150px;
    height: 25px;
    font-size: 15px;
    font-family: "MS Reference Sans Serif", serif;
    padding-bottom: 0px;
}

select:hover{
    background-color: #008bd6;
}

select option {
    position: absolute;
    color: white;
    background-color: #242424;
}

/*textarea*/
textarea #textarea{
    resize: none;
    color: #000000;
}

/*search*/
.searchInput{
    background-image: url('/login_register/mainPage/images/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 250px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 2px solid #008bd6;
    margin-bottom: 12px;
}

#searchInput {
    background-image: url('images/searchicon.png');
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#searchUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#searchUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    display: block
}

#searchUL li a:hover:not(.header) {
    background-color: #eee;
}

/*menu header*/
#main {
    background-color: #008bd6;
}

#header {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
}

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242424;
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#instructions{
    text-decoration: none;
    color: #38b9ff;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input[type=text] {
    width: 100%;
    font-weight: bold;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #008bd6;
    border-radius: 4px;
}

input.shortInput{
    width: 33%;
    font-weight: bold;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #008bd6;
    border-radius: 4px;
}

input:checked + .slider {
    background-color: #008bd6;
}

input:focus + .slider {
    box-shadow: 0 0 1px #008bd6;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

