body, html {
    height: 100%;
    margin: 0;
    color: black;
    font-family: "Lucida Sans Typewriter", serif;
}

/*lines*/
hr {
    border-top: 2px dashed gray;
}

.verticalLine {
    border-left: 6px solid #50a1a6;
    height: 754px;
}

/*dropdown menu start*/
li#menuRight {
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #242424;
    min-width: 160px;
    box-shadow: 10px 10px 10px rgba(80, 161, 166, 0.5);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 5px;
}

/*buttons*/
.button {
    vertical-align: middle;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
}

.button:hover {
    background-color: black;
    color: white;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*heroes*/
.heroImage {
    /* Used if the image is unavailable */
    height: 1080px; /* You must set a specified height */
    /* Center the image */
    /* Do not repeat the image */
    background: #cccccc url(images/backgroundImage.jpg) no-repeat center;
    background-size: cover;
}

.heroText {
    padding: 20px;
    color: white;
    border-color: black;
}

/*select*/
select {
    position: relative;
    width: 150px;
    height: 25px;
    font-size: 15px;
    font-family: "MS Reference Sans Serif", serif;
    padding-bottom: 0px;
}

select:hover{
    background-color: #50a1a6;
}

select option {
    position: absolute;
    color: white;
    background-color: #242424;
}

/*textarea*/
textarea{
    resize: none;
}

/*search*/
.searchInput{
    background-image: url('/login_register/mainPage/images/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 250px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 2px solid #50a1a6;
    margin-bottom: 12px;
}

#searchInput {
    background-image: url('images/searchicon.png');
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#searchUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#searchUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    display: block
}

#searchUL li a:hover:not(.header) {
    background-color: #eee;
}

/*menu header*/
#main {
    background-color: #50a1a6;
}

#header {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
}

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #242424;
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
#searchListButton{
    position: absolute;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    vertical-align: middle;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: black;
    height: 34px;
    background-color: white;
    text-align: center;
    font-size: 25px;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #50a1a6;
}

input:focus + .slider {
    box-shadow: 0 0 1px #50a1a6;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}