body {
    background: linear-gradient(#008bd6, #004a73) fixed;

}
ul{
    list-style-type: none;
    padding: 0px;
}

span.loginTitle{
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

span.loginTitleIn{
    animation: fadein 3s ease;
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}

#startupForm {
    background: linear-gradient(#eaeaea, #a0a0a0);
    margin: auto;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 4px;
    padding: 10px 50px;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    font-family: "MS Reference Sans Serif", serif;
    font-size: 20px;
}

.loginListID{
    padding-top: 50px;
    font-family: "Century Gothic", serif;
    line-height: 1.5;
    color: #afafaf;
    background: none;
    text-align: center;
    font-size: 40px;
}

.loginListID li{
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.loginListID li:hover{
    background: #2b2b2b;
    color: white;
}

.dark{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 4px;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 4px;
}


input[type=button]{
    vertical-align: middle;
    width: 50%;
    height: 37px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 5px;
    overflow: hidden;
}

.button {
    vertical-align: middle;
    width: 50%;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 5px;
    overflow: hidden;
}

.button:hover {
    background-color: black;
    color: white;
}

a:link, a:visited {
    color: black;
    background-color: white;
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

a:hover, a:active {
    color: white;
    background-color: black;
}