body {
    background-color: #008bd6;
}
ul{
    list-style-type: none;
    padding: 0px;
}

#startupForm {
    background-color: lightgrey;
    margin: auto;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 4px;
    padding: 10px 50px;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    font-family: "MS Reference Sans Serif", serif;
    font-size: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 4px;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 4px;
}


input[type=button]{
    vertical-align: middle;
    width: 50%;
    height: 37px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 5px;
    overflow: hidden;
}

.button {
    vertical-align: middle;
    width: 50%;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 25px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 5px;
    overflow: hidden;
}

.button:hover {
    background-color: black;
    color: white;
}

a:link, a:visited {
    color: black;
    background-color: white;
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

a:hover, a:active {
    color: white;
    background-color: black;

}